.env

app/node_modules
app/package-lock.json
app/.next
# Logs
app/logs
app/*.log
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*
app/pnpm-debug.log*
app/lerna-debug.log*
app/
app/node_modules
app/dist
app/dist-ssr
app/*.local
app/
app/# Editor directories and files
app/.vscode/*
app/!.vscode/extensions.json
app/.idea
app/.DS_Store
app/*.suo
app/*.ntvs*
app/*.njsproj
app/*.sln
app/*.sw?
